<!DOCTYPE html>
<html lang="en">
<head>
  <title>ffgd</title>
</head>
<body>
  <h1>Entry points</h1>
  <h2>REST API</h2>
  <ul>
    <li><a href="api/v1/persons/">person-list</a></li>
    <li><a href="api/v1/instruments/">instrument-list</a></li>
    <li><a href="api/v1/detectors/">detector-list</a></li>
    <li><a href="api/v1/acquisitions/">acquisition-list</a></li>
    <li><a href="api/v1/images/">image-list</a></li>
    <li><a href="api/v1/algorithms/">algorithm-list</a></li>
    <li><a href="api/v1/articles/">article-list</a></li>
    <li><a href="api/v1/classifications/">classification-list</a></li>
    <li><a href="api/v1/concepts/">attribute-list</a></li>
    <li><a href="api/v1/instances/">instance-list</a></li>
    <li><a href="api/v1/categories/">category-list</a></li>
    <li><a href="api/v1/category_concepts/">category-concepts</a></li>
  <ul>
  <p>Query parameters</p>
  <ul>
    <li>format=html</li>
    <li>format=xml</li>
    <li>format=json</li>
  </ul>
</body>
</html>